<ion-view view-title="Quiz time!">
  <ion-content>

  <div class="card">
  <div class="item item-divider menulogin">
 
 <center><h2 style = "color:white"><b>How to play?</b></h2>
  </div>
  <div class="item item-text-wrap">
    1. Click on "Tap Me to Play"!<br>

 2. A picture will appear for each question<br>

 3. 4 Options will appear<br>

 4. Get it right and go to the next question!<br>

 5. Complete the game! no time limit!<br>

 6.Have fun!!
  </div>
 
</div>

<button class="button  button-full button-energized" ng-click="playGame()">
   <b>Tap Me to Play!</b>
  </button>
  <br><br>

 <center><img ng-src="img/quizMan.png" alt="Description"  style = "opacity: 0.5"/>

  </ion-content>
</ion-view>
