
<ion-view  view-title="Home" class = "quizBg">
<ion-content has-bouncing="false" scroll="false"style ="background-color:rgba(0,0,0,0.5);">
<br><br><br><br><br><br><br>
<div class="has-header" style = "top:100px">

 


<div class="row">
 <div class="col col-33 " style="left:160px;" >

  <a href = "#/app/browse" style = "color:white; top:10px;">
    <center> <div class="circleAdmin">
      <i class="icon ion-images" style="position:relative;top:15px; font-size: 55px;color:white;"></i>  
      <p style=" padding: 0.55em 0.75em;">My Images</p>
    </div> 
  </a>

</div>
 <div class="col col-33">    <center><img src="img\FaceMemicon.png" height="100px" width="100px"/></div>
<div class="col col-33 " >

 <a href = "#/app/statistics" style = "color:white;">
  <center>   <div class="circleAdmin">
    <i class="icon ion-stats-bars" style="position:relative;top:15px; font-size: 55px;color:white;"></i>  
    <p style=" padding: 0.55em 0.75em;">Statistics</p>
  </div>   
</a>

</div>
</div>
<div class="row">
 <div class="col col-33 ">

   <a href = "#/app/game" style = "color:white;">
     <center> <div class="circleGame">
      <i class="icon ion-ios-americanfootball" style="position:relative;top:15px; font-size:55px;color:white;"></i>  
      <p style=" padding: 0.65em 0.75em;">Quiz</p></div> 
    </a>

  </div>
  <div class="col col-33 ">

   <a href = "#/app/flipcard" style = "color:white;">
    <center>  <div class="circleGame">
      <i class="icon ion-ios-basketball" style="position:relative;top:15px; font-size: 55px;color:white;"></i>  
      <p style=" padding: 0.65em 0.75em;">Match Card</p></div> 
    </a> 
  </div>

  <div class="col col-33" >

   <a href = "#/app/slidegame" style = "color:white;text-decoration: none;">
    <center>  <div class="circleGame">
      <i class="icon ion-ios-football" style="position:relative;top:15px; font-size: 55px;color:white;"></i>  
      <p style=" padding: 0.65em 0.75em; text-decoration: none;">Slide it</p></div> 
    </a>

  </div>
</div>
</div>



</div>




</ion-content>
</ion-view>

